
@{
    ViewBag.Title = "Home";
}
<link rel="Stylesheet" type="text/css" href="~/Content/Index.css" />

<div class="head">
    <div class="head_one">
        <div class="state">
            |
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#">问题反馈</a>
            <a href="#">会员中心</a>
        </div>
    </div>
    <div class="head_search">
        @Html.ActionLink("登录", "login")
    </div>
</div>
<div class="body">

</div>
<div class="foot">

</div>

